* {
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
}

main {
  width: 65%;
  margin: auto;
  /* height: 100%; */
  /* background-color: antiquewhite; */
  /* border: 1px solid #fcc2c2; */
  padding: 25px;
}
#navbar {
  border-bottom: 1px solid #ccc;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  height: 40px;
  margin: auto;
  padding: 20px;
  /* padding: 10px 10%; */
}
nav #btns button {
  border: none;
  outline: none;
  font-size: 16px;
  padding: 8px 15px;
  border-color: 5px;
}
nav #login {
  background: aqua;
}

nav #signup {
  background: transparent;
}
header {
  width: 100%;
  height: 220px;
}

main #profile {
  display: flex;
  align-items: center;
  gap: 100px;
  width: 90%;
  margin: auto;
  color: #181b18;
}

main #profile img {
  width: 140px;
  height: 140px;
  border-radius: 100%;
}

main #profile #info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* main #profile #info h3{
 margin: 20px 0px;
} */

main #profile #social-para {
  width: 70%;
}

main #slider {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  gap: 50px;
  margin-top: 25px;
  width: 90%;
  margin: auto;
  height: 120px;
}

/* Chrome, Safari, Edge */
main #slider::-webkit-scrollbar {
  display: none;
}

main #slider img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  outline: 3px solid #7e7c7c;
  outline-offset: 4px;
  object-fit: cover;
}
main .slid-img {
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  gap: 10px;
}
#icons {
  display: flex;
  justify-content: center;
  gap: 200px;
  font-style: 30px;
  margin: 40px 0 10px 0;
}
#icons i{
  font-size: 27px;
}
main #grid {
  display: flex;
  flex-wrap: wrap;
}
main #grid img {
  width: 33%;
  height: 300px;
  border: 1px solid #fff;
  background-color: black;
  object-fit: cover;
}
